# Kopiujesz do .env i uzupełniasz.

# GHCR
GHCR_OWNER=trak2026z
IMAGE_TAG=local

# Runtime
PUBLIC_HTTP_PORT=8080

# Sekrety (na VM ustawisz mocne wartości)
POSTGRES_PASSWORD=postgres
JWT_SECRET=dev-secret-change-me